<h2 class="title">Who are Rick and Morty?</h2>

<div>
    <p>
        Rick and Morty are two guys (a grandfather and a grandchild) that live a lot of adventures.<br/>
        Rick is the most intelligent grandfather in the world. He creates a lot of machines like a teleportation gun or a spacecraft to go to another planets.
        Morty is not the best grandchild but they love themselves so much.<br/>
        They are always living an adventure in other planet or in other galaxy despite being scolded by their relatives. They are:
    </p>
        <ul>
            <li>
                Summer Smith: Morty's sister
            </li>
            <li>
                Beth Smith: Morty's mother and Rick's daughter
            </li>
            <li>
                Jerry Smith: Morty's father
            </li>
        </ul>
</div>