footer {
    height: 60px;
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2f4f4f;
    color: white;
    text-align: center;
    clear: both;
    font-family: 'Courier New', Courier, monospace;

}

.text{
  float: left;
}
.imgfooter{
  float: right;
}

img{
  align-items: center;
  height: 60px;
}